:root{
    --fuentesHeading: 'PT Sans', sans-serif;
    --fuenteParrafos: 'Open Sans', sans-serif;

    --primario:#f8f9fa;
    --blanco: #EDF0F2;
    --negro:#555451;
    --gris:#DEE1E4;



}
html{
    box-sizing: border-box;
    font-size: 62.5%; 
    background: #f8f9fa;
    /* 1 rem = 10px */
}
*, *:before, *:after {
    box-sizing: inherit;
}

body{
    font-family: var(--fuenteParrafos);
    font-size: 1.6rem;
    line-height: 2;

}

  /* globales */
.contenedor{
    max-width: 120rem;
    width: 90%;
    width: min(90%, 120rem);
    margin: 0 auto;

}
a{
    text-decoration: none;
}
h1,h2,h3,h4{
    font-family: var(--fuentesHeading);
    line-height:1.2 ;

}
h1{
    font-size: 4.8rem;
}
h2{
    font-size: 4rem;
}
h3{
    font-size: 3.2rem;
}
h4{
    font-size: 2.8rem;
}
img{
    max-width: 100%;
}
.no-margin{
    margin: 0   ;
}

.no-padding{
    padding: 0;
}
.centrar-texto{
    text-align: center;
}

.centrar-texto1{
    text-align:justify;
}

/* header */
.webp .header{
    background-image: url(../imagenes/Gemini_software.png);
}
.no-webp .header{
    background-image: url(/imagenes/Gemini_software.png);
}
.header{
    background-image: url(/imagenes/Gemini_software.png);
    height: 68rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

}
.header__texto{
    text-align: center;
    color: var(--blanco);
    margin-top: 5rem;
    /* padding: 10rem; */
}
@media (min-width: 768px){
   .header__texto{
    margin-top: 15rem;
   }
}
.barra{
    padding: 4rem;
}
@media (min-width: 780px){
    .barra{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
.logo{
 color: var(--blanco);
}
.logo__nombre{
    font-weight: 400    ;
}
.logo__bold{
    font-weight: 700;
}

@media (min-width: 768px){
    .navegacion{
        display: flex;
        gap: 2rem   ;
    }
}
.navegacion__enlace{
    display: block;
    text-align: center;
    font-size: 1.8rem;
    color: var(--blanco);
}
@media (min-width: 768px){
   .contenido-principal{
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 4rem;
    
   }
}
.entrada{
    border-bottom: 1px solid var(--gris);
    margin-bottom: 2rem ;
}
.entrada:last-of-type{
    border: none;
    margin-bottom: 0 ;

}
.boton{
    display: block;
    font-family: var(--fuentesHeading);
    color: var(--blanco);
    text-align: center;
    padding: 1rem 3rem;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2rem;
    border: none;
}
@media (min-width: 768px){
   .boton{
    display: inline-block;


   }
}
.boton:hover{
    cursor: pointer;
}
.boton--primario{
    background-color: var(--negro);

}
.boton--secundario{
    background-color: var(--primario);
}
.cursos{

    list-style: none;

}
.cursos{
    padding: 3rem 0 ;
    border-bottom: 1px solid var(--gris);
}

@media (min-width: 768px) {
    .cursos {
        display:block;
        grid-template-columns: 1fr 2fr;
        column-gap: 2rem;
    }
}
.cursos:last-of-type {
    border: none;
 }
.widget-curso__label{
    font-family: var(--fuentesHeading);
    font-weight: bold;
}
.widget-curso__info{
    font-weight: normal;
}
.widget-curso{
    border-bottom: 1px solid var(--gris);
    margin-bottom: 2rem;

}
.widget-curso:last-of-type{
    border: none;
    margin-bottom: 0;
}
.widget-curso__label,
.widget-curso__info{
    font-size: 2rem;
}
.footer{
    background-color: var(--negro);
    padding-bottom: 3rem ;
    margin-top: 4rem;
}
/* sobre nosotros */
@media (min-width: 768px){
   .sobre-nosotros{
        display: flex;
        gap: 2rem   ;
 
   }
   .sobrenosotros__imagen,
   .sobre-nosotros__texto{
        display: grid;
        flex-basis: 50%;
        margin: 1rem,1rem;
        padding: 1rem,2rem;
        justify-content: center;
        align-items: center;

   }
   .sobre-nosotros{
    display: grid;
    grid-template-columns: repeat(1 , 2fr);
    margin: 2rem,2rem;
    padding: 1rem,1rem;
    justify-content: center;
    align-items: center;
    place-items: center;
    
   }
   .sobre-nosotros__texto{
    text-align: center;
    padding: 1rem 3rem;
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 700;    
}
}
.contacto-bg{
    background-image: url(../imagenes/Gemini_4.png);
    height: 60rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
/* curso */
.curso{
    padding: 3rem ;
    border-bottom: 1px solid var(--gris);
}
@media (min-width: 768px){
   .curso{
        display: grid;
        grid-template-columns: 1fr 2fr;
        column-gap: 2rem;
   }
}
.curso:last-of-type{
    border: none;
}

.curso__label{
    font-family: var(--fuentesHeading);
    font-weight: bold;
}
.curso__info{
    font-weight: normal;
}

.curso__label,
.curso__info{
    font-size: 2rem;
}

.formulario{
    background-color: var(--blanco);
    margin: -5rem auto 0 auto;
    width: 95%;
    padding: 5rem;
}
.campo{
    display: flex;
    margin-bottom: 2rem;
    gap: 2rem;
}
.campo__label{
    flex: 0 0 9rem;
    text-align: right;
    padding-right: 2rem;
}
.campo__field{
    flex: 1;
    border: 1px solid var(--gris);
    
}
.campo__field--textarea{
    height: 20rem;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,200&display=swap');
@import url('https://fonts.googleapis.com/css2? family= Montserrat:ital,wght@0,200;0,400;1,600 & display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

.descripcion {
    font-weight: bolder;
    color: #000000;
    
}

html{
    scroll-behavior: smooth;
}

#inicio{
    background: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)),url("/imagenes/10502Agua.jpg");
    background-size: cover;
    background-position: center center;
    height: 100vh;
}
#inicio .contenido header{
   background-color: rgba(0,0,0,.7);
   position: fixed;
   width: 100%;
   z-index: 100;
   top: 0;

}
#inicio .contenido header .contenido-header{
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;

}

#inicio .contenido header .contenido-header h1{
    text-align: center;
    color: #ff5080;

}
#inicio .contenido header .contenido-header nav ul{
    list-style: none;
    display: flex;
    align-items: center;

}
#inicio .contenido header .contenido-header nav ul li a{
     text-decoration: none;
     color: #fff;
     margin: 0 12px;
     font-weight: 400;
     transition: .5s;

}

#inicio .contenido header .contenido-header nav ul a:hover{
    color: #ff5080;

}

#inicio .contenido header .contenido-header .redes a{
    text-decoration: none;
    color: #fff;
    display: inline-block;
    margin-left: 10px;
    transition: .5s;

}
#inicio .contenido header .contenido-header .redes a:hover{
    color:#ff5080;
}
#inicio .contenido header .contenido-header .seleccionado{
    color: #ff5000;
}

#inicio .contenido .presentacion{
    max-width: 1100px;
    height:  100vh;
    margin: auto;
    columns: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
#inicio .contenido .presentacion .bienvenido{
    font-weight: bolder;
    font-size: 36px;
    margin-bottom: 15px;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #fff;

}
#inicio .contenido .presentacion h2{
    font-size: 10px;
    margin-bottom:  5px;
    text-align: center;

}
#inicio .contenido .presentacion h2 span{
    font-size: 35px;
    color: #fbff1e;
}
#inicio .contenido .presentacion .descripcion{
    max-width: 700px;
    margin: 25px auto;
    font-size: 18px;
    text-align: center;
    
}
#inicio .contenido .presentacion a{
    text-decoration:none;
    display: inline-block;
    margin: 25px;
    padding: 20px 25px;
    border: 2px solid #fff;
    border-radius: 50px;
    color: #d0ff00;
    font-weight: bold;
    text-transform: uppercase;
    transition: .5s;

}
#inicio .contenido .presentacion a:hover{
    background-color: #ff5080;
}
#icono-nav{
    color: #c8ff03;
    display: none;

}
/* seccion sobre mi */
#sobremi{
    max-width: 1100px;
    margin: auto;
    padding: 100px 15px;
    color: #000000;
    display: flex;
}
#sobremi .contenedor-foto{
    max-width: 400px;
    margin-right: 80px;
   
}
#sobremi .contenedor-foto img{
    padding: 20px;
    width: 100%;
    border-radius: 20px;
    background-color: #f3f3f3;
}
#sobremi .sobremi{
    margin: 0 40px;
}
#sobremi .sobremi .titulo-seccion{
    font-size: 22px;
    text-transform: uppercase;
    color: #111135;
    text-decoration: underline;
    text-decoration-color: #d3d3d3;
    text-decoration-thickness:5px;

}
#sobremi .sobremi h2{
    font-size: 34px;
    font-weight: bold;
    margin: 20px 0;
    letter-spacing: 2px;
    
}
#sobremi .sobremi h2 span{
    color: #01f021;
    font-size: 62px;
}
#sobremi .sobremi h3{
    font-size: 18px;
    font-weight: 500;
    text-transform:uppercase;
    margin-bottom: 20px;
    letter-spacing: 1px;
}
#sobremi .sobremi p{
    font-size: 14px;
    line-height: 25px;
    color: #565656;
    margin-bottom: 12px;
}
#sobremi .sobremi a {
    display: inline-block;
    text-decoration: none;
    color: #000;
    border-radius: 30px;

    border: 1px solid #000;
    padding: 10px 20px;
    margin-top: 30px;
    transition: .5s;

}

#sobremi .sobremi a:hover{
    background-color: #ff5080;
    color: #fff;
}

/* SECCION SERVICIO */
#servicios{
    padding: 100px 15px;
    text-align: center;
    background-color: #f3f3f3;

}
#servicios .titulo-seccion{
    font-size: 22px;
    text-transform: uppercase;
    color: #111135;
    text-decoration: underline;
    text-decoration-color: #d3d3d3;
    text-decoration-thickness: 5px;
}
#servicios .fila{
    display: flex;
    justify-content: space-between;
    max-width: 1100px;
    margin: 30px auto;

}
#servicios .fila .servicio{
    max-width: 350px;
    background-color: #fff;
    padding: 30px;
    margin: 0 5px;
    border-radius: 5px;
    transition: .5s;

}

#servicios .fila .servicio:hover{
    box-shadow: 5px 5px 10px #565656, -5px -5px 10px #8a8a8a;
    
}
#servicios .fila .servicio h4{
    font-size: 22px;
    margin-bottom: 25px;
}
#servicios .fila .servicio .icono{
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #5c1e1e;
    padding: 20px;
    margin-bottom: 25px;

}
#servicios .fila .servicio hr{
    width: 30%;
    margin: auto;
    color: #000;
    margin-bottom: 25px;

}
#servicios .fila .servicio ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;

}
#servicios .fila .servicio p{
    font-size: 14px;
    line-height: 22px;
    
    
}
/*seccion de habilidades */
.contenedor-skills{
    background: linear-gradient(#eb5a5acc, rgba(33, 16, 16, .8)),url("/imagenes/03.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 100px 0;
    text-align: center;
}
.contenedor-skills .skill {
    max-width: 600px;
    margin: 30px auto;
}
.contenedor-skills .skill .info {
    display: flex;
    justify-content: space-between;
}
.contenedor-skills .skill .lista {
    display: inline-block;
    margin-right: 20px;
    height: 10px;
    width: 10px;
    background-color: #fff;
}
.contenedor-skills .skill .barra{
    background-color: #919191;
    width: 100%;
    height: 6px;
    margin: 10px 0;
}
/* Este estilo se aplicara luego mediante javascript para lograr la animacion de la barra */
.contenedor-skills .skill .barra .barra-progreso1{
    background-color: #fff;
    width: 95%;
    height: 6px;
    animation: progreso1 2s forwards;
}
.contenedor-skills .skill .barra .barra-progreso2{
    background-color: #fff;
    width: 90%;
    height: 6px;
    animation: progreso2 2s forwards;
}
.contenedor-skills .skill .barra .barra-progreso3{
    background-color: #fff;
    width: 90%;
    height: 6px;
    animation: progreso3 2s forwards;
}

.contenedor-skills .skill .barra .barra-progreso4{
    background-color: #fff;
    width: 85%;
    height: 6px;
    animation: progreso4 2s forwards;
}
/*Se crea las animacione de las barras */
@keyframes progreso1{
    0%{
        width: 0;
    }
    100%{
        width: 95%;
    }

}
@keyframes progreso2{
    0%{
        width: 0;
    }
    100%{
        width: 90%;
    }

}
@keyframes progreso3{
    0%{
        width: 0;
    }
    100%{
        width: 90%;
    }

}
@keyframes progreso4{
    0%{
        width: 0;
    }
    100%{
        width: 85%;
    }

}
/* seccion portafolio*/
#portafolio{
    max-width: 1108px;
    padding: 100px 0;
    margin: auto;

}
#portafolio .titulo-seccion{
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
    color: #111135;
    text-decoration: underline;
    text-decoration-color: #d3d3d3;
    text-decoration-thickness: 5px; 
}
#portafolio .fila{
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
}

#portafolio .fila .proyecto{
    max-width: 450px;
    border: 1px solid #000;
    margin: 0 10px;
    position: relative;
    overflow: hidden;

}
#portafolio .fila .proyecto img{
    width: 100%;
    height: 100%;
    filter: grayscale(1);
    object-fit: cover;
    transition: 5s;

}
#portafolio .fila .proyecto:hover img{
    filter: grayscale(0);

}
#portafolio .fila .proyecto .info{
    position: absolute;
    left: 0;
    background-color: rgba(0,0,0,.8);
    color: #ff5000 ;
    width:100%;
    padding: 10px;
    opacity: 0;
    bottom: -40px;
    transition: .5s;
}
#portafolio .fila .proyecto:hover .info{
    opacity: 1;
    bottom: 0;
}
/*seccion contacto*/
#contacto{
    padding: 100px 15px;

}
#contacto .titulo-seccion{
    margin-bottom: 20px;
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
    color: #111135;
    text-decoration: underline;
    text-decoration-color: #d3d3d3;
    text-decoration-thickness: 5px;

}
#contacto .contenedor-form{
    max-width: 1100px;
    margin: auto;
}
#contacto .contenedor-form .fila{
    margin-bottom: 15px;
}
#contacto .contenedor-form .mitad{
    display: flex;
    justify-content: space-between;
}
#contacto .contenedor-form input,
#contacto .contenedor-form textarea{
    padding: 20px;
    border-radius: 20px;
    border: none;
    border: 1px solid #919191;
}
#contacto .contenedor-form .mitad input{
    width: 48%;
}
#contacto .contenedor-form .input-full{
    width: 100%;

}
#contacto .btn-enviar{
    display: block;
    margin: auto;
    cursor: pointer;
    transition: .5s;
    padding: 10px 15px;
    font-weight: bold;
}
#contacto .btn-enviar:hover{
    background-color: #ff5000;
    color: #fff;
}
/* footer*/
footer{
    background-color: #000;
    color: #fff;

    text-align: center;
    padding: 30px 0;
}
footer a{
    text-decoration: none;
    color: #fff;
    display: inline-block;
    margin: 5px;
    font-size: 26px;
}


/* Seccion responcive*/
@media screen and  (max-width:800px)
{
    .redes{
        display: none;
    }
    nav{
        display: none;
    }
    nav.responsive{
        display: block;
        background-color: rgba(0,0,0,.8);
        width: 100%;
        position: absolute;
        top:48px;
        left: 0;
        padding: 10px 0;    
    }
    nav.responsive ul{
        display: block !important;
        text-align: center;
    }
    nav.responsive ul li {
        margin: 5px 0;
    }
    #icono-nav{
        display: block;
    }
    #inicio .contenido .presentacion h2{
         font-size: 40px;
    }
    #sobremi{
        padding: 50px 0;
        display: block;
    }
    #sobremi .contenedor-foto{
        max-width: 200px;
        margin: auto;
    }
    #sobremi .contenedor-foto img{
        padding: 8px;
    }
    #sobremi .sobremi .titulo-seccion{
        text-align: center;
    }
    #sobremi .sobremi h2{
        font-size: 25px;
        text-align: center;
    }
    #servicios{
        padding: 50px 15px;

    }
    #servicios .fila{
        display: block;
    }
    #servicios .fila .servicio{
        margin: 10px auto;
    }
    #contenedor-skills{
        padding: 50px 20px ;
    }
    #portafolio{
        padding: 50px 0;
    }
    #portafolio .fila{
        display: block;
    }
    #portafolio .fila .proyecto{
        margin: 10px auto;
    }
    #contacto {
        padding: 50px 15px;
    }
    #contacto .contenedor-form .mitad{
        margin-bottom: 15px;
        display: block;
    }
    #contacto .contenedor-form .mitad input{
        width: 100%;
        margin-bottom: 15px;
    }

}













